.App {
  text-align: center;
}

* {
  border: 0.1px solid black;
}
/* ====== header ============== */
header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-logo {
  height: 100px;
  margin-right: 20px;
}

/* ============== body ============== */
.body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  margin-top: 10px;
}
/* =============aside ============ */
aside Link {
  color: black;
  text-decoration: none;
  font-size: 1.4em;
}

.side-league-logo {
  height: 40px;
  margin-right: 15px;
}

.side-link-div {
  border-radius: 5px;
  height: 70px;
  background: rgb(184, 184, 184);
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-league {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

/* =============== content ============ */
.content {
  background: beige;
  height: 100%;
}

/* ============= LeagueInfo ======= */
.league-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.league-info-sub {
  padding: 10px;
  border-radius: 15px;
  border: 3px solid grey;
}

.weekselector-div {
  text-align:left;
}

.small-logo {
  height: 40px;
  margin-right: 15px;
}

.list-single-items-wrap {
  border: 2px solid;
}

.list-single-item {
  display: grid;
  grid-template-columns: 5fr 1fr;
  border:0.5px solid lightgray;
}

.list-single-item-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* ====================== rivals ============== */
.rival-matchup-title {
  text-align: left;
}

.rival-matchup-name {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rival-matchup-team, .rival-matchup-header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
}

.rival-matchup-team div, .rival-matchup-header div {
  border: 0.5px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}